pipeline/SolutionPipeline.json
{
	"name": "SolutionPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataFileNameList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SolSrc",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadataFileNameList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataFileNameList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupTableNameForEachFile",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT TABLE_SCHEMA, TABLE_NAME FROM SinkTablesForFiles WHERE SourceFileName = ', pipeline().parameters.apostropheChar,item().name,pipeline().parameters.apostropheChar)",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzGetSqlSinkTableNames",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CopyCsvDataToRespectiveTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LookupTableNameForEachFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SourceBlobMultipleCSVFiles",
									"type": "DatasetReference",
									"parameters": {
										"inputfileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzSqlSinlRespectiveTable",
									"type": "DatasetReference",
									"parameters": {
										"sinkTableSchema": {
											"value": "@activity('LookupTableNameForEachFile').output.value[0].TABLE_SCHEMA",
											"type": "Expression"
										},
										"sinkTableName": {
											"value": "@activity('LookupTableNameForEachFile').output.value[0].TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"apostropheChar": {
				"type": "string",
				"defaultValue": "'"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}